

<h1> @service.title </h1>

<%= link_to "Back", home_path %>

<div class="indexresa">
  <% @services.each do |service| %>
    <div class="prestacard">
      <p><%= service.title %></p>
      <ul>
        <li> <%= service.shop.name.upcase %> </li>
        <li><%= service.price %></li>
        <li> <%= service.duration %> </li>
        <li><%#= service.employees.each do |employee| %></li>
        <li> <%#= employee.first_name %> </li>
        <%#end %>
      </ul>
    </div>
  <% end %>
</div>
