

<h1> @service.title </h1>

<%= link_to "Back", home_path %>




<div class="indexresa">
  <% @services.each do |service| %>
    <div class="prestacard">
      <p class ="services"><%= service.title %></p>
      <ul>
        <h4> <%= service.shop.name.upcase %> </h4>
        <li><%= service.price %></li>
        <li> <%= service.duration %> </li>
      </ul>
    </div>
  <% end %>
</div>
