
<%= link_to "Back", home_path %>

<div class="indexshops">
  <% @shops.each do |shop| %>
    <div class="shopcard">
        <p><%= shop.name %></p>
          <ul>
            <li><%= shop.address %></li>
            <% shop.services.each do |service| %>
              <li><%= service.title %></li>
              <p><%=  service.price %></p>
            <% end %>
          </ul>
    </div>
  <% end %>
</div>
