
<div class="shopshow">
  <%= @shop.name %>
  <%= @shop.address %>
  <%= @shop.telephone %>
  <%= @shop.description %>
</div>


  <p> Vos prestations :  </p>
    <% @shop.services.each do |service| %>
      <p><%= service.title %></p>
      <p><%= service.price %></p>
      <p><%= service.duration %></p>
    <% end %>
    <%#= @shop.service %>

  <% if @user == current_user %>
    <%= link_to "ajouter", new_shop_service_path(@shop) %>
  <% end %>
