
<div class="shopshow">
  <%= @shop.name %>
  <%= @shop.address %>
  <%= @shop.telephone %>
  <%= @shop.description %>

   <% if @shop.user == current_user %>
          <%= link_to "modifier", edit_shop_path(@shop) %>
          <%= link_to "supprimer",shop_path(@shop.id, @shop.user.id),
              data: {:confirm => 'Etes-vous sûr de vouloir supprimer cet établissement ?'}, method: :delete %>
        <% end %>

</div>


  <p> Vos prestations :  </p>
    <% @shop.services.each do |service| %>
      <p><%= service.title %></p>
      <p><%= service.price %></p>
      <p><%= service.duration %></p>
        <% if @shop.user == current_user %>
          <%= link_to "modifier", edit_shop_service_path(service.id, service.shop.id ) %>
          <%= link_to "supprimer", service_path(service.id, service.shop.id),
              data: {:confirm => 'Etes-vous sûr de vouloir supprimer cette prestation ?'}, method: :delete %>
        <% end %>
    <% end %>
    <%#= @shop.service %>
    <br>


  <% if @shop.user == current_user %>
    <%= link_to "ajouter une prestation", new_shop_service_path(@shop) %>
  <% end %>
