<div class="shopphoto">
 <% if @shop.photos.attached?%>
    <% @shop.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
</div>

<div class="shopshow">
  <%= @shop.name %>
  <%= @shop.address %>
  <%= @shop.telephone %>
  <%= @shop.description %>
   <% if @shop.user == current_user %>
      <p><%= link_to "modifier", edit_shop_path(@shop.id) %> |
      <%= link_to "supprimer", @shop,
          data: {confirm: 'Etes-vous sûr de vouloir supprimer cet établissement ?'}, method: :delete  %></p>
    <% end %>
</div>

<div class="shoppresta">
  <p> Prestations proposées :  </p>
    <% @shop.services.each do |service| %>
      <p><%= service.title %></p>
      <p><%= service.price %></p>
      <p><%= service.duration %></p>
        <% if @shop.user == current_user %>
          <p><%= link_to "modifier", edit_shop_service_path(service.shop.id, service.id) %> |
          <%= link_to "supprimer", service_path(service.id, service.shop.id),
              data: {:confirm => 'Etes-vous sûr de vouloir supprimer cette prestation ?'}, method: :delete %></p>
        <% elsif @shop.user != current_user %>
          <%= link_to "réserver", new_service_reservation_path(service.id, service.shop.id ) %>
        <% end %>
    <% end %>
    <%#= @shop.service %>
    <br>
    <br>
    <br>

  <p>
    <% if @shop.user == current_user %>
      <%= link_to "ajouter une prestation", new_shop_service_path(@shop) %>
    <% end %>
  </p>
</div>
